# Ignore environment variable files
.env
.env.*


# Ignore virtual environments
venv/
.venv/
env/
ENV/
bin/
lib/

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# OS-specific files
.DS_Store
Thumbs.db
*company_knowledge_base.db

# jupyter notebook checkpoints
*.ipynb

# Ignore chromadb files
chromadb/
*.bin
*.sqlite3